* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.token.comment,
.token.selector,
.token.punctuation,
.token.property,
.token.function {
  color: #000;
}

#code,
#paper .content {
  height: 100vh;
  overflow: auto;
}

h1 {
  color: red;
}

h1::before {
  content: '#';
}
